.gallery{
    -webkit-column-count: 4;
    -moz-column-count: 3;
    column-count: 4;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
    padding: 0 12px;
}
.gallery .pics{
    -webkit-transition: all 3ms ease;
    transition: all;
    cursor: pointer;
    margin-bottom: 12px;
}
.gallery .pics:hover {
    filter: opacity(.8);
}

@media (max-width:991px){
    .gallery{
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (max-width: 480px){
    .gallery{
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }
}

.pics img {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.pics img.visible {
    opacity: 1;
    transform: translateY(0);
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out; /* Smooth fade-in */
  }
  
  .fade-in-visible {
    opacity: 1;
  }
  
